*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

.post-table{
    width: 100%;
    margin: 2rem 0;
    border-collapse: collapse;
}

thead{
    font-family: 'Montserrat', sans-serif;
}

thead tr th{
    border: solid 1px #171818;
    padding: 0.5rem 1rem;
    background-color: #E5266E;
    color: #FFFFFF;
}

tbody{
    font-family: 'PT Sans', sans-serif;
}

tbody tr td{
        border: solid 1px #6A6E72;
        padding: 0.5rem 1rem;
}
